@{
        ViewBag.Title = "打印";
        var F = @Html.F();
    }

    @section script{

}

@section body{
    <div>
        请将鼠标放到图片上方点击右键，保存至电脑后打印请假条
    </div>
    <div id="leavePic" style="margin-left:auto; margin-right:auto;">
        <img src=@ViewBag.picUrl style="height:800px; margin-left:auto; margin-right:auto; width:565.63px;" />
    </div>
}

